<!DOCTYPE html>
<html>

<head lang="vi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <script src="https://use.fontawesome.com/8b70c06b18.js"></script>
    <script src="/javascripts/jquery-3.4.1.min.js"></script>
    <script src="/javascripts/jquery.confirm.min.js" ></script>
    <link rel="stylesheet" href="/stylesheets/jquery-confirm.min.css">
    <title>Quản lý tin đăng</title>
</head>

<body>
    <% include ../header/headerPost %>
    <!-- Sidebar Menu -->
    <div class="container-fluid">
        <div class="row">
            <nav class="col-lg-2 d-none d-lg-block bg-light sidebar">
                <div class="user-info">
                    <a href="#" class="clearfix">
                        <div class="user-avatar">
                            <img width="50px" src="/images/boy_1544603222.png" alt="avatar">
                        </div>
                        <div class="user-meta" style="margin-top: 20px">
                            <div class="inner">
                                <div class="user-name">
                                    <%=data.sign.First_name  %> <%=data.sign.Last_name  %>  
                                </div>
                                <div class="user-verify font-weight-bold" style="color: #555; font-size: 0.9rem;">
                                    Admin
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <ul class="nav nav-sidebar">
                    <li class="nav-item"><a href="/admin/Post" class="nav-link font-weight-bold">Quản lý tin đăng</a></li>
                    <li class="nav-item"><a href="/admin/user" class="nav-link font-weight-bold">Quản lý người dùng</a></li>
                    <li class="nav-item"><a href="/admin/statistical" class="nav-link font-weight-bold"> Quản lý doanh thu</a></li>
                </ul>
            </nav>
            <!-- Thông tin tài khoản -->
            <main role="main" class="ml-sm-auto col-md-10" style="margin-top: 20px">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">Welcome, Admin</h1>
                </div>

                <div class="manager-table">
                 <% if(data.post && data.post !=undefined ){ %> 
                    <table class="table">
                       
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col" class="text-center">ID</th>
                                <th scope="col" class="text-center">Tiêu đề</th>
                                <th scope="col" class="text-center">Giá cho thuê</th>
                                <th scope="col" class="text-center">Địa chỉ</th>
                                <th scope="col" class="text-center">Đối tượng cho thuê</th>
                                <th scope="col" class="text-center">Diện tích</th>
                                <th scope="col" class="text-center">Ngày đăng</th>
                               
                                <th scope="col" class="text-center"></th>
                                <th scope="col" class="text-center"></th>
                                <th scope="col" class="text-center"></th>
                            </tr>
                        </thead>
                        <% for(var i = 0 ; i< data.post.length;i++) {%> 
                        <tbody>

                            <tr>
                                <input type="text" hidden id="ID" value="<%=data.post[i].ID  %> ">
                              <th scope="row"><%=data.post[i].ID  %>  </th>
                              <td scope="col" class="text-center"><%=data.post[i].TieuDe  %></td>
                              <td scope="col" class="text-center"><%=data.post[i].Gia  %> </td>
                              <td scope="col" class="text-center"><%=data.post[i].tenDuong  %> - <%=data.post[i].tenPhuong  %> - <%=data.post[i].tenTp  %></td>
                              <td  scope="col" class="text-center"><%=data.post[i].DoiTuongChoThue  %> </td>
                              <td  scope="col" class="text-center"><%=data.post[i].DienTich  %> </td>
                              <td scope="col" class="text-center"><%=data.post[i].update_at  %> </td>  
                              <td><button type="button" id="post" class="btn btn-outline-success btn-block font-weight-bold">Đăng</button></td>
                              <td><button type="button" id="delete" class="btn btn-outline-danger btn-block font-weight-bold">Xóa</button></td>
                              <td><a href="/admin/post/<%=data.post[i].ID %>" class="btn btn-outline-primary font-weight-bold">Chi Tiết</a></td>
                            </tr>
                            </tbody>
                        <% } %> <% } %> 
                    </table>
                   
                </div>
        </div>
       
        </main>
    </div>
    </div>
    <script src="/javascripts/admin/post.js"></script>
    <script src="/javascripts/sigout.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script> 
            </script>
</body>