<!DOCTYPE html>
<html>

<head lang="vi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/Style.css">
    <title>Trang chủ</title>
</head>

<body>
    <!-- Thanh Nav -->
    <div class="Navigator">
        <nav class="navbar navbar-expend-sm navbar-light bg-light">
            <div class="container">
                <!-- Logo -->
                <a href="/" class="nav-brand"><img height="120" src="/images/logo2.png" alt="logo"></a>
                <!-- Nav item canh logo -->
                <ul class="nav mr-auto">
                   
                    <li class="nav-item"><a href="#" class="nav-link font-weight-bold">Tìm mua</a></li>
                    <li class="nav-item"><a href="#" class="nav-link font-weight-bold">Tìm thuê</a></li>
                </ul>
                <!-- Nav item signin/register -->
                <ul class="nav ml-auto">
                    <% if (!data.sign ) { %>
                        <li class="nav-item"><a href="signin" class="nav-link" >Đăng nhập</a></li>
                        <li class="nav-item"><a href="signup" class="nav-link" >Đăng kí</a></li>
                        <% }else if(data.sign){%>
                            <li class="nav-item"><a href="#" class="nav-link"> Chào mừng <%=data.sign.ho  %>  <%=data.sign.ten  %>  </a></li>
                            <li class="nav-item"><a href="DangTin"><button class="btn btn-primary font-weight-bold">Đăng tin</button></a></li>                     
                        <% } %>
                </ul>
        </nav>
    </div>

    <!-- Big Banner -->
    <div class="banner">
        <div class="container">
            <!-- Slogan -->
            <h1 class="display-5 text-center banner-title text-white font-weight-bold">ĐÚNG NHÀ, ĐÚNG GIÁ, ĐÚNG THỜI ĐIỂM</h1>
            <!-- Thanh tim kiem -->
            <div class="input-group input-group-lg mb-3 w-50 searching-bar">
                <input type="text" class="form-control" placeholder="Bạn đang tìm kiếm gì?">
                <div class="input-group-append">
                    <button class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>
        </div>
        <div class="container posts" >
            <div class="row">
           
                <% if(data && data.results) { %> 
                <%for (var i =0;i< data.results.length;i++){%> 
                <div class="col-sm-6">
                    <a href="/DangTin/post/<%=data.results[i].ID%> ">
                        <div class="box">
                            <div class="img">
                                <img class="img-fluid mx-auto img " src="<%=data.results[i].image %> " alt="">
                            </div>
                            <div class="text">
                                <p><%=data.results[i].tenTp  %> </p>
                                <strong><%=data.results[i].Gia  %> </strong><span>Đồng</span>
                                <p><%=data.results[i].TieuDe %> </p>
                            </div>
                        </div>
                    </a>
                </div><% } %>
            <% } %>  
               
            </div>
        </div>
</body>

</html>