<!DOCTYPE html>
<html>

<head lang="vi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/Style.css">

    <!-- jquery -->
    <script src="/javascripts/jquery-3.4.1.min.js"></script>
    <!-- socket.io -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <title>Trang chủ</title>
</head>

<body>
<%include header/headerIndex  %> 

    <!-- Tin Noi Bat -->
    <div class="tinNoiBat" style="margin-top: 20px;">
        <div class="container">
            <h3>Tin nổi bật</h3>
            <div class="row justify-content-center">
                <% if(data.results) { %> 
                    <% for(var i = 0 ;i< data.results.length; i++){ %> 
                <div class="col-sm-6">
                    <a href="/DangTin/post/<%=data.results[i].ID  %> " style="text-decoration: none; color: #000;">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="<%=data.results[i].image%> " height="200px" class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"><%=data.results[i].TieuDe  %> </h5>
                                    <p class="card-text font-weight-bold">Giá: <%=data.results[i].Gia%> </p>
                                    <p class="card-text"><%=data.results[i].NoiDung  %> </p>
                                    <p class="card-text"><%=data.results[i].tenQuan  %> - <%=data.results[i].tenTp  %>  </p>
                                </div>
                            </div>
                        </div>
                    </div></a>
                </div><% } %> 
            <% } %> 

                <div class="col-sm-6">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="./Sources/img/IMG_9483.JPG" height="200px" class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text font-weight-bold">Giá:</p>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                

                
            </div>
        </div>
    </div>
    <!-- Xử lý socket.io -->
    <script src="/javascripts/index.js" type="text/javascript" >
       
        </script>
        <!-- signout -->
        <script src="/javascripts/sigout.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
</body>

</html>