<!DOCTYPE html>
<html>

<head lang="vi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/DangTin.css">

    <script src="/javascripts/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <link rel="stylesheet" href="/stylesheets/dropzone.css">
    <script src="/javascripts/dropzone.js"></script>

    <title>Cập nhật</title>
</head>

<body>
    <!-- Thanh Nav -->
    <% include header/headerPost %>

    <!-- Content trang đăng tin -->
    <section class="contentDangTin">

        <div class="container">
            <form action="" method="" id="PostForm">

                <h1 class="text-center font-weight-bold">Cập nhật bài viết</h1>
                <p id="DangTin"></p>

                <!-- thông báo error -->
                <div id="signupalert" <%if(!data||!data.error){%> style="display: none;" <% } %>
                    class="alert alert-danger">

                    <p>error:</p>
                    <% if(data && data.error) {%>
                    <span>
                        <%=data.error %>
                        <% } %>
                    </span>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-8">
                        <!-- Địa chỉ cho thuê -->
                        <div class="rentAddress">
                            <h3 class="font-weight-bold">Địa chỉ cho thuê</h3>
                            <!-- Chọn vị trí -->
                            <div class="row">
                                <div class="col-md-3 pt-3">
                                    <div class="form-group">
                                        <input type="text" hidden value="<%=data.post[0].tenTp %>" id="optioncity">
                                        <select id="selectCity" name="mySelect" class="form-control w-100">
                                            <%for(var i = 0 ; i<data.results.length;i++) {%>
                                            <option value="<%=data.results[i]._name%>"><%=data.results[i]._name%>
                                            </option>
                                            <%}%> 
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3 pt-3">
                                <div class="form-group">
                                    <input type="hidden" value="<%=data.post[0].tenQuan %>" id="optiondistrict">
                                            <select id="selectDistric" class="form-control w-100" name="selectDis">
                                                <!-- <option selected ></option> -->
                                            </select>
                                    </div>
                                </div>
                                <div class="col-md-3 pt-3">
                                    <div class="form-group">
                                        <input type="hidden" value="<%=data.post[0].tenPhuong %>" , id="optionward">
                                        <select id="selectWard" name="selectWard" class="form-control w-100">


                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 pt-3">
                                    <div class="form-group">
                                        <input type="hidden" value="<%=data.post[0].tenDuong %>" id="optionstreet">
                                        <select id="selectStreet" class="form-control w-100" name="selectStreet">

                                        </select>
                                    </div>
                                </div>
                            </div>

                            <!-- Số nhà -->
                            <label for="address" class="font-weight-bold">Số nhà:</label><br>
                            <input type="text" name="numberaddress" id="numberaddress" class="form-control w-25"
                                value="<%=data.post[0].soNha  %> ">

                            <!-- Địa chỉ chính xác -->
                            <label for="excelentAddress" class="font-weight-bold" style="margin-top: 20px;">Địa chỉ
                                chính
                                xác</label><br>
                            <input type="text" name="excelentAddress" id="excelentAddress"
                                value="<%=data.post[0].DiaChiChinhXac %> " class="form-control">
                        </div>

                        <!-- Thông tin mô tả -->
                        <div class="rentInfo" style="margin-top: 50px;">
                            <h3 class="font-weight-bold">Thông tin mô tả</h3>
                            <div class="row">
                                <div class="col-md-6 pt-3">
                                    <div class="form-group">
                                        <input type="hidden" value="<%=data.post[0].ThongTinMoTa  %>"
                                            id="optionThongTinMT">
                                        <select id="ThongTinMoTa" class="form-control w-100" name="ThongTinMoTa">

                                            <option val="Phòng trọ">Phòng trọ, nhà trọ</option>
                                            <option value="Nhà nguyên căn">Nhà thuê nguyên căn</option>
                                            <option value="Tìm người ở ghép">Tìm người ở ghép</option>
                                            <option value="Cho thuê căn hộ">Cho thuê căn hộ</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <!-- Tiêu đề -->
                            <label for="infoTitle" class="font-weight-bold">Tiêu đề:</label><br>
                            <input type="text" name="title" value="<%=data.post[0].TieuDe  %> " id="infoTitle"
                                class="form-control w-75">

                            <!-- Nội dung mô tả -->
                            <div class="infoContent" style="margin-top: 20px;">
                                <input type="text" hidden value="<%=data.post[0].ID  %> " id="valID">
                                <label for="infoTitle" class="font-weight-bold">Nội dung mô tả:</label><br>
                                <input type="text" hidden name="" value="<%=data.post[0].NoiDung  %>" id="taketext">
                                <textarea name="content" id="infoContent" rows="5" class="form-control"></textarea>
                            </div>

                            <!-- Số điện thoại -->
                            <label for="phoneNumber" class="font-weight-bold" style="margin-top: 20px">Số điện
                                thoại:</label><br>
                            <input type="text" name="phoneNumber" value="0<%=data.post[0].SDT  %> " id="phoneNumber"
                                class="form-control w-75">

                            <!-- Giá cho thuê -->
                            <label for="infoTitle" class="font-weight-bold" style="margin-top: 20px;">Giá cho
                                thuê:</label><br>
                            <div class="input-group mb-3 w-50">
                                <input type="text" name="gia" id="gia" value="<%=data.post[0].Gia  %> "
                                    class="form-control">
                                <div class="input-group-append">
                                    <span class="input-group-text">Đồng</span>
                                </div>
                            </div>

                            <!-- Diện tích -->
                            <label for="infoAcreage" class="font-weight-bold">Diện tích:</label><br>
                            <div class="input-group mb-3 w-25">
                                <input id="takenumber" type="text" hidden value="<%=data.post[0].DienTich %> ">
                                <p id="test"></p>
                                <input type="text" name="acreage" id="Acreage" value="<%=data.post[0].DienTich %>"
                                    class="form-control">
                                <div class="input-group-append">
                                    <span class="input-group-text">m2</span>
                                </div>
                            </div>

                            <!-- Đối tượng cho thuê -->
                            <div class="row">
                                <div class="col-md-4 pt-3">
                                    <div class="form-group">
                                        <input type="hidden" value="<%=data.post[0].DoiTuongChoThue  %>" id="optionDoiTuong">
                                        <select id="doituong" name="doituong" class="form-control w-100">
                                           
                                            <option value="Nam">Nam</option>
                                            <option value="Nữ">Nữ</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="rentImage" style="margin-top: 50px;">
                        <h3 class="font-weight-bold">Hình ảnh</h3>
                        <p>Cập nhật hình ảnh rõ ràng sẽ cho thuê nhanh hơn</p>
                         <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Upload</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile" name="upload">
                                <label for="inputGroupFile" class="custom-file-label">Choose file</label>
                            </div>
                        </div> 
                    </div> -->

                        <button type="button" class="btn btn-primary btn-block font-weight-bold"
                            style="margin-top: 50px;" id="update">Cập nhật</button>
                    </div>
                    <!-- Lưu ý đăng tin -->
                    <div class="col-md-4">
                        <div class="rentAlert">
                            <div class="alert alert-warning">
                                <h5>Lưu ý khi đăng tin</h5>
                                <p>
                                    1. Nội dung phải viết bằng tiếng Việt có dấu <br>
                                    2. Tiêu đề tin không dài quá 100 kí tự <br>
                                    3. Các bạn nên điền đầy đủ thông tin vào các mục để tin đăng có hiệu quả hơn. <br>
                                    4. Để tăng độ tin cậy và tin rao được nhiều người quan tâm hơn, hãy sửa vị trí tin
                                    rao
                                    của
                                    bạn trên bản đồ bằng cách kéo icon tới đúng vị trí của tin rao. <br>
                                    5. Tin đăng có hình ảnh rõ ràng sẽ được xem và gọi gấp nhiều lần so với tin rao
                                    không có
                                    ảnh. Hãy đăng ảnh để được giao dịch nhanh chóng! <br>
                                </p>
                            </div>
                        </div>
                    </div>
            </form>


        </div>
        <div class="coitaner">
            <div class="row" style="margin-top: 20px;">
                <div class="col-md-8">
                    <h3 class="font-weight-bold">Hình ảnh</h3>
                    <p>Cập nhật hình ảnh rõ ràng sẽ cho thuê nhanh hơn</p>
                    <form method="POST" id="PostForm" action="/updateImg" placeholder="Drop files here to upload"
                        class="dropzone w-100 text-center" readonly="true">
                    </form>
                </div>
            </div>
        </div>

    </section>
    <% include footer/footer %>
    <script src="/javascripts/updatePost.js"></script>
    <!-- Xử lý socket.io -->
    <script type="text/javascript">
        var x = document.getElementById('taketext').value;
        document.getElementById("infoContent").defaultValue = x;
        //
    </script>
    <script type="text/javascript">
        function catcheven() {
            function selectCity() {
                var optioncity = $('#optioncity').val();
                $(`#selectCity option[value="${optioncity}"]`).prop('selected', true);

            }
            function selectDistrict() {
                $(document).ready(() => {
                    var optiondistrict = $('#optiondistrict').val();
                    console.log(optiondistrict);
                    var base_url = location.protocol + '//' + document.domain + ':' + location.port;
                    var IDdis = $('#selectCity').val();
                    $.ajax({
                        url: base_url + "/Distric",
                        dataType: "json",
                        method: "POST",
                        data: { tenTp: IDdis },
                        success: function (res) {
                            if (res && res.statusCode == 200 && res.distric) {
                                $("#selectDistric").append(res.distric);
                                $(`#selectDistric option[value="${optiondistrict}"]`).prop('selected', true);
                            }
                        }
                    })
                })
            }
            function selectward() {
                $(document).ready(() => {
                    var optiondistrict = $('#optiondistrict').val();
                    var optionward = $('#optionward').val();

                    var IDdis = $('#selectCity').val();
                    var base_url = location.protocol + '//' + document.domain + ':' + location.port;

                    $.ajax({
                        url: base_url + '/Ward',
                        method: 'POST',
                        dataType: 'json',
                        data: {
                            tenTp: IDdis,
                            tenQuan: optiondistrict
                        },
                        success: function (res) {
                            if (res && res.statusCode == 200 && res.ward) {
                                $("#selectWard").html(res.ward);
                                $(`#selectWard option[value="${optionward}"]`).prop('selected', true);  
                            }
                        }
                    })
                })
            }
            function street() {
                $(document).ready(function () {
                    var province = $('#optioncity').val();
                    var district = $('#optiondistrict').val();
                    var optionstreet = $('#optionstreet').val();
                    var base_url = location.protocol + '//' + document.domain + ':' + location.port;
                    $.ajax({
                        url: base_url + '/street',
                        method: 'POST',
                        dataType: 'json',
                        data: {
                            tenTp: province,
                            tenQuan: district
                        },
                        success: function (res) {
                            if (res && res.statusCode == 200 && res.ward) {
                                $("#selectStreet").html(res.ward)
                                $(`#selectStreet option[value="${optionstreet}"]`).prop('selected', true);
                            }
                        }
                    })
                })
            }
            selectCity();
            selectDistrict();
            selectward();
            street();
        }
        $(document).ready(() => {
            new catcheven();
            var optionThongTinMT = $("#optionThongTinMT").val();
            $(`#ThongTinMoTa option[value="${optionThongTinMT}"]`).prop('selected', true);
            var optionDoiTuong =$("#optionDoiTuong").val();
            $(`#doituong option[value="${optionDoiTuong}"]`).prop('selected',true);
        })
    </script>
    <!-- socket.io -->
    <script src="/javascripts/searchBar.js"></script>
    <!-- signout -->
    <script src="/javascripts/sigout.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script> -->
    <script src="/javascripts/popper.min.js"></script>
        <script src="/javascripts/bootstrap.min.js"></script>
    </script>
</body>

</html>