<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- Thanh Nav -->
    <div class="Navigator">
        <nav class="navbar navbar-expend-sm navbar-light bg-light">
            <div class="container">
                <!-- Logo -->
                <a href="/" class="nav-brand"><img height="120" src="/images/logo2.png" alt="logo"></a>
                <!-- Nav item signin/register -->
                <ul class="nav ml-auto">
                    <% if (!data.sign ) { %>              
                        <li class="nav-item font-weight-bold"><a href="/signin" class="nav-link " >Đăng nhập</a></li>
                        <li class="nav-item font-weight-bold"><a href="/signup" class="nav-link" >Đăng kí</a></li>
                        <% }else if(data.sign){%>
                    <li class="nav-item nav-username">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle font-weight-bold mr-2 "
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%=data.sign.First_name  %>  <%=data.sign.Last_name  %> </button>
                            <div class="dropdown-menu">
                                <a href="/users/<%=data.sign.Email%>" class="dropdown-item"><i class="fa fa-user-o" aria-hidden="true"> Thông tin tài khoản</i> </a>
                                <div class="dropdown-divider"></div>
                                <a href="/posted/<%=data.sign.ID %> " class="dropdown-item"> <i class="fa fa-file-text-o" aria-hidden="true"> Bài viết đã đăng</i></a>
                                <div class="dropdown-divider"></div>
                                <a href="/savePosts/<%=data.sign.Email%> " class="dropdown-item"><i class="fa fa-bookmark-o" aria-hidden="true"> Bài viết đã lưu</i></a>
                                <div class="dropdown-divider"></div>
                            <button class="signout dropdown-item" id="signout"><i class="fa fa-sign-out" aria-hidden="true"> Đăng xuất</i> </button>
                            </div>
                        </div>
                    </li>
                    <!-- <% if (data.sign.QuyenHan == 'admin') { %>
                        <li style="margin-right: 10px;" class="nav-item "><a href="/admin "><button class="btn btn-primary font-weight-bold">Trang quản trị</button> </a></li>
                    <% } %> -->
                    <li class="nav-item"><a href="/DangTin"><button class="btn btn-primary font-weight-bold">Đăng tin</button> </a></li>
                            <!-- <li class="nav-item"><a href="#" class="nav-link"> Chào mừng <%=data.sign.ho  %>  <%=data.sign.ten  %>  </a></li>
                            <li class="nav-item"><a href="DangTin"><button class="btn btn-primary font-weight-bold">Đăng tin</button></a></li> -->
                            
                        <% } %>
                        <li class="nav-item font-weight-bold"><a href="/postW" class="nav-link">Bài viết đã xem</a></li>
                        
                        
                </ul>
        </nav>
    </div>

    <!-- Thanh Nav -->
    <div class="Nav2">
        <nav class="navbar navbar-expend-sm nav-custom navbar-light bg-nav">
            <div class="container justify-content-center">
                <div class="row grid-divider">
                    <div class="col-sm-12">
                        <ul class="nav mr-auto">
                            <li class="nav-item"><a href="/" class="nav-link font-weight-bold text-white">Trang
                                    chủ</a></li>
                            <li class="nav-item"><a href="/DangTin" class="nav-link font-weight-bold text-white">Cho thuê
                                    phòng trọ</a></li>
                            <li class="nav-item"><a href="#" class="nav-link font-weight-bold text-white">Nhà cho
                                    thuê</a></li>
                            <li class="nav-item"><a href="#" class="nav-link font-weight-bold text-white">Tìm người
                                    ở ghép</a></li>
                            <li class="nav-item"><a href="#" class="nav-link font-weight-bold text-white">Cho thuê
                                    căn hộ</a></li>
                            <li class="nav-item"><a href="#" class="nav-link font-weight-bold text-white">Hướng
                                    dẫn</a></li>
                            <li class="nav-item"><a href="#" class="nav-link font-weight-bold text-white">Nạp
                                    tiền</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>